* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #fbfbfb;
  background: rgb(17, 17, 17);
  background: linear-gradient(
    47deg,
    rgba(17, 17, 17, 1) 31%,
    rgba(26, 18, 93, 1) 58%,
    rgba(148, 230, 131, 1) 87%,
    rgba(253, 255, 177, 1) 99%
  );
}
/* reusable grid */
.container {
  max-width: 144rem;
  padding: 0 4.8rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
}

.grid-2col {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3col {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4col {
  grid-template-columns: repeat(4, 1fr);
}

.grid-col {
  grid-template-rows: 1fr 1fr;
  column-gap: 6.4rem;
}
/* Header */

.header {
  font-family: ethnocentric, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3.2rem;
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 4.8rem;
}

.header-text {
  color: #00cba0;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
  font-size: 2.4rem;
}

.nav-list-link:link,
.nav-list-link:visited {
  text-decoration: none;
  color: #1d1d1d;
  transition: all 300ms;
}

.nav-list-link:hover,
.nav-list-link:active {
  text-decoration: none;
  color: rgb(72, 0, 206);
}

/* ................. */

.hero-section {
  margin-bottom: 4.8rem;
  margin-top: 12rem;
  padding: 0 4.8rem;
}

.hero {
  display: grid;
  grid-template-columns: 50fr 50fr;
  column-gap: 0.8rem;
}

.hero-text-box {
  font-family: ethnocentric, sans-serif;
  font-weight: 700;
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.I-am {
  font-size: 1.6rem;
}

.primary-heading {
  font-size: 8rem;
  font-weight: 700;
}

.peeradon-career {
  font-size: 3.2rem;
  color: #dedede;
}

.description {
  font-size: 1.6rem;
  line-height: 1.2;
  color: #dedede;
}

.description-box {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}

.btn-contact-me {
  font-size: 4.8rem;
  text-decoration: none;
  color: #21e7bc;
  border: 0.3rem solid #00cba0;
  border-radius: 5px;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  transition: all 300ms;
}

.btn-contact-me:hover,
.btn-contact-me:active {
  color: #fbfbfb;
  border-radius: 5px;
  background-color: #00cba0;
}

.hero-img {
  width: 80%;
}

/* About me */
.aboutme-section {
  padding: 20rem 4.8rem;

  background-color: #1d1d25;
}

.img-aboutme-box {
  width: 48.6rem;
  height: 57rem;
  background-color: #00ecb9;
  border-radius: 3.2rem;
  overflow: clip;
}

.img-aboutme {
  width: 100%;
  transition: all 300ms;
  filter: saturate(0%);
}

.img-aboutme:hover,
.img-aboutme:active {
  transform: scale(1.2);
  width: 100%;
  filter: saturate(100%);
}

.aboutme-container {
  display: flex;
  flex-direction: column;
  width: 78.8rem;
  gap: 4.8rem;
  padding: 3.2rem;
  color: #1d1d25;
  background-color: #00ecb9;
  border-radius: 3.2rem;
}

.heading-aboutme {
  font-family: ethnocentric, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 6.4rem;
  font-weight: 700;
}

.aboutme-text {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4;
}

.exprirence {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.heading-exprirence {
  font-weight: 700;
  font-size: 3.6rem;
}

.aboutme-text-small {
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 700;
}

.aboutme-list-box {
  margin-top: 0.8rem;
}

.aboutme-list {
  list-style: none;
  font-size: 2rem;
}

span {
  font-size: 2rem;
  font-weight: 700;
}

/* Portfolio */

.portfolio-section {
  color: #03eebb;
  background: rgb(17, 17, 17);
  background: linear-gradient(
    22deg,
    rgba(17, 17, 17, 1) 31%,
    rgba(26, 18, 93, 1) 58%,
    rgba(148, 230, 131, 1) 87%,
    rgba(253, 255, 177, 1) 99%
  );
  padding-bottom: 4.8rem;
}

.portfolio-heading {
  font-family: ethnocentric, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 9.6rem;
  margin-top: 2.4rem;
}

.img-portfolio {
  box-shadow: 0 0 2.4rem;
}

/* .img-portfolio:link,
.img-portfolio:visited {
  color: #00cba0;
} */

.img-portfolio img {
  height: 100%;
  width: 100%;
  transition: all 300ms;
  filter: saturate(0%);
}

.img-portfolio img:hover {
  transform: scale(1.2);
  box-shadow: 0 0 3.2rem 1.2rem;
  filter: saturate(100%);
}

.portfolio-grid {
  max-width: 114rem;
  row-gap: 3.2rem;
  column-gap: 3.2rem;
  justify-items: center;
  margin-bottom: 3.2rem;
}

.portfolio-container {
  padding: 3.2rem 6.4rem 9.6rem 6.4rem;
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  align-items: center;
}

.cards {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

.card {
  margin-right: 2.5rem;
  transition: all 400ms cubic-bezier(0.175, 0.885, 0, 1);
  background-color: rgb(53, 53, 53);
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 1.2rem;
  border-radius: 1.2rem;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}
.card:hover {
  background-color: #00cba0;
  color: #ffffff;
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.1, 1.1);
  overflow: hidden;
}
.card:hover .card__img--hover {
  filter: saturate(100%);
  height: 100%;
  opacity: 1;
}
.card:hover .card__info {
  background-color: transparent;
  position: relative;
  opacity: 0;
}

.card__info {
  z-index: 2;
  background-color: rgb(53, 53, 53);
  border-bottom-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  padding: 1.6rem 2.4rem 2.4rem 2.4rem;
}

.card__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 32.5rem;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
}

.card__info-hover {
  position: absolute;
  padding: 1.6rem;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card--1 .card__img,
.card--1 .card__img--hover {
  filter: saturate(0%);
  background-image: url("/photo/Guber-02.webp");
}

.card--2 .card__img,
.card--2 .card__img--hover {
  filter: saturate(0%);
  background-image: url("/photo/Water.webp");
}

.card--3 .card__img,
.card--3 .card__img--hover {
  filter: saturate(0%);
  background-image: url("/photo/Poser1.webp");
}
.card--4 .card__img,
.card--4 .card__img--hover {
  filter: saturate(0%);
  background-image: url("/photo/5.webp");
}
.card__img--hover {
  transition: 200ms all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 32.5rem;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  top: 0;
}

.card:hover .card__info-hover {
  opacity: 1;
}

.card__tittle {
  margin-top: 1.2rem;
}

.btn-seemore {
  font-family: ethnocentric, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4.8rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;

  padding: 0.8rem 1.6rem;
  text-decoration: none;
  color: #21e7bc;
  border: 1px solid #00cba0;
  border-radius: 6px;
  transition: all 300ms;
}

.btn-seemore:hover,
.btn-seemore:active {
  color: #fbfbfb;
  background-color: #00cba0;
  border: 1px solid #00cba0;
  border-radius: 6px;
}

/* footer */
.footer {
  background-color: #1d1d25;
  margin: 0 auto;
  padding: 3.2rem;
}

.logo-col {
  font-size: 6.2rem;
}

.footer-col {
  font-size: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footer-heading {
  font-family: ethnocentric, sans-serif;
  font-weight: 700;
  font-size: 4.8rem;
  color: #dedede;
  margin-bottom: 4.8rem;
}

.footer-link {
  color: #dedede;
  text-decoration: none;
  font-style: normal;
}

.footer-link:hover,
.footer-link:active {
  color: #00cba0;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.address {
  font-size: 1.6rem;
  font-style: normal;
}

.social-list {
  list-style: none;
}

.social-list li {
  margin-bottom: 0.8rem;
}

.social-link {
  color: #dedede;
  text-decoration: none;
}

.social-link:hover,
.social-link:active {
  color: #00cba0;
}

.skills-header {
  font-family: ethnocentric, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4.8rem;
  font-weight: 600;
}

.skills-text-small {
  font-size: 2rem;
  font-weight: 500;
}

.container-small {
  padding: 0rem;
  margin-bottom: 1.6rem;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-gap {
  gap: 4.8rem;
}

.icon {
  font-size: 4.8rem;
}

.Skills-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.center {
  text-align: center;
}

.cer {
  margin: 3.2rem;
}
