* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #fbfbfb;
  background: rgb(17, 17, 17);
  background: linear-gradient(
    47deg,
    rgba(17, 17, 17, 1) 31%,
    rgba(26, 18, 93, 1) 58%,
    rgba(148, 230, 131, 1) 87%,
    rgba(253, 255, 177, 1) 99%
  );
}
/* Reuseable */

.container {
  max-width: 144rem;
  padding: 0 4.8rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
}

.grid-2col {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3col {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4col {
  grid-template-columns: repeat(4, 1fr);
}

.grid-col {
  grid-template-rows: 1fr 1fr;
  column-gap: 6.4rem;
}

/* header */
.header {
  font-family: ethnocentric, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3.2rem;
  display: flex;
  justify-content: space-between;
  padding: 4.8rem 4.8rem;
}

/* navigation */
.nav-list {
  display: flex;
  list-style: none;
  gap: 3.2rem;
  font-size: 2.4rem;
}

.nav-list-link:link,
.nav-list-link:visited {
  text-decoration: none;
  color: #1d1d1d;
  transition: all 300ms;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.nav-list-link:hover,
.nav-list-link:active {
  text-decoration: none;
  color: rgb(72, 0, 206);
}

.uiux-section {
  margin-top: 8rem;
}

.ui-header {
  font-family: ethnocentric, sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  padding-left: 2.4rem;
  font-size: 6.2rem;
}

.ui {
  grid-template-columns: 1fr 1fr;
  padding: 4.8rem;
}

.ui-img {
  width: 70rem;
}

.ui-img img {
  width: 100%;
}

.secondary-ui-header {
  font-family: ethnocentric, sans-serif;
  font-weight: 700;
  padding-left: 2.4rem;
  font-size: 3.6rem;
}

.font {
  padding-left: 2.4rem;
  font-size: 3.2rem;
}

.Design-system {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.colors {
  color: #1d1d1d;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 2.4rem;
  font-size: 2.4rem;
  padding: 1.2rem;
  border-radius: 0.5rem;
}

.color1 {
  background-color: #3edc6a;
}

.color2 {
  background-color: #c8fad6;
}
.ui-text {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  height: 40rem;
}

.description {
  line-height: 1.5;
  padding-left: 2.4rem;
  font-size: 2.4rem;
}

.btn {
  margin-left: 2rem;
}

.btn-center {
  text-align: center;
}

.margin {
  margin-right: 4.8rem;
}

.margin-top {
  margin-top: 4.8rem;
}

.margin-left {
  margin-left: 4.8rem;
}

.cta-btn {
  font-family: ethnocentric, sans-serif;
  font-weight: 700;
  border-radius: 5px;
  padding: 0.8rem 1.2rem 0.8rem 1.2rem;
  padding-left: 4.8;
  border: 0.3rem solid rgb(13, 226, 155);
  font-size: 3.2rem;
  color: #dadada;
  text-decoration: none;
  transition: all 300ms;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
}

.cta-btn:hover,
.cta-btn:active {
  color: #000000;
  border: 0.3rem solid rgb(13, 226, 155);
  background-color: rgb(13, 226, 155);
  background-color: none;
  border-radius: 5px;
}
.gd-img {
  align-items: center;
  justify-items: center;
}

.gd1 {
  width: 90%;
}

.gd2 {
  width: 40%;
}

.gd3 {
  width: 60%;
}

.gd4 {
  width: 60%;
}
.gd5 {
  width: 70%;
}

.gd6 {
  width: 70%;
}

.wire-frame {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 2.4rem;
}

.wire-frame-hd {
  font-family: ethnocentric, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 6.2rem;
  margin-bottom: 3.2rem;
}

.MKT {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.MKT-Hd {
  grid-column: 1/ -1;
  padding: 2.4rem;
  font-size: 6.2rem;
  font-family: ethnocentric, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.MKT-img-box img {
  width: 80%;
}

.MKT-section {
  padding: 4.8rem;
  margin-bottom: 4.8rem;
}

.description-list {
  margin-top: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  font-size: 2.4rem;
  padding-left: 4.8rem;
  line-height: 1.8rem;
}

.btn-mkt {
  padding: 1.2rem;
}

.footer {
  background-color: #1d1d25;
  margin: 0 auto;
  padding: 3.2rem;
}

.logo-col {
  font-size: 2.4rem;
}

.footer-col {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footer-heading {
  font-family: ethnocentric, sans-serif;
  font-weight: 700;
  font-size: 4.8rem;
  color: #dedede;
  margin-bottom: 4.8rem;
}

.footer-link {
  color: #dedede;
  text-decoration: none;
  font-style: normal;
}

.footer-link:hover,
.footer-link:active {
  color: #00cba0;
}

.logo-col {
  font-size: 6.2rem;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.address {
  font-size: 1.6rem;
  font-style: normal;
}

.social-list {
  list-style: none;
}

.social-list li {
  margin-bottom: 0.8rem;
}

.social-link {
  color: #dedede;
  text-decoration: none;
}

.social-link:hover,
.social-link:active {
  color: #00cba0;
}

.ct1 {
  width: 80%;
}

.ct2 {
  width: 80%;
}

.ct3 {
  width: 80%;
}

.Certification {
  margin-bottom: 8rem;
}

.center {
  text-align: center;
}
