* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #fbfbfb;
  background: rgb(17, 17, 17);
  background: linear-gradient(
    47deg,
    rgba(17, 17, 17, 1) 31%,
    rgba(26, 18, 93, 1) 58%,
    rgba(148, 230, 131, 1) 87%,
    rgba(253, 255, 177, 1) 99%
  );
}
/* Reuseable */

.container {
  max-width: 144rem;
  padding: 0 4.8rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
}

.grid-2col {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3col {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4col {
  grid-template-columns: repeat(4, 1fr);
}

.grid-col {
  grid-template-rows: 1fr 1fr;
  column-gap: 6.4rem;
}

/* header */
.header {
  font-family: ethnocentric, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3.2rem;
  display: flex;
  justify-content: space-between;
  padding: 4.8rem 4.8rem;
}

/* navigation */
.nav-list {
  display: flex;
  list-style: none;
  gap: 3.2rem;
  font-size: 2.4rem;
}

.nav-list-link:link,
.nav-list-link:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.uiux-section {
  margin-top: 8rem;
}

.ui-header {
  font-family: ethnocentric, sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
}

.ui {
  grid-template-columns: 1fr 1fr;
  padding: 4.8rem 0rem 4.8rem 2.4rem;
}

.ui-img {
  width: 70rem;
}

.ui-img img {
  width: 100%;
}

.ui-header {
  padding-left: 2.4rem;
  font-size: 6.2rem;
}

.ui-text {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  height: 40rem;
}

.description {
  line-height: 1.5;
  padding-left: 2.4rem;
  font-size: 2.4rem;
}

.btn {
  padding-left: 3.2rem;
}

.cta-btn {
  font-family: ethnocentric, sans-serif;
  font-weight: 700;
  border-radius: 5px;
  padding: 0.8rem 1.2rem 0.8rem 1.2rem;
  background-color: rgb(13, 226, 155);
  padding-left: 4.8;
  font-size: 3.2rem;
  color: #070707;
  text-decoration: none;
}

.gd-img img {
  width: 80%;
  justify-content: center;
  align-items: center;
}

.wire-frame {
  grid-column: 1 / -1;
}
